<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs'); %>
</head>

<body>
    <main>
        <h1>lainecedes' Awesome Profile</h1>
        
        <section> <!-- lijst met favo game icons -->
            <button aria-label="Open biography of profile">
                <img src="/images/avatarpicture.png" alt="Picture of avatar">
            </button>

            <ul>
                <li>
                    <img src="/images/mariokarticon.png" alt="Mario Kart icon">
                </li>
                <li>
                    <button aria-label="Open NookPhone">
                        <img src="/images/tomnookacnh.jpg" alt="Animal Crossing New Horizons icon">
                    </button>
                </li>
                <li>
                    <img src="/images/sdvicon.png" alt="Stardew Valley icon">
                </li>
                <li>
                    <!-- ISSUE: if image is removed then interface collapses? -->
                    <img src="/images/transparent.png" alt="Transparent placeholder image">
                </li>
            </ul>
        </section>

        <section id="user"> <!-- algemene info w/ JSON data-->
            <p id="userName"></p>
            <p id="userAge"></p>
            <p id="userUsername"></p>
        </section>

        <section> 
            <dialog> <!-- bio letter w/ JSON data -->
                <button aria-label="Close" autofocus>
                    <img src="/images/pixel-close.png"></button> 
                <p id="userBio"></p>
            </dialog>
        </section>

        <section>
            <!-- NookPhone -->
            <div id="NookPhone">
                <!-- interface phone -->
                <div aria-label="NookPhone" id="container">
                    <img src="/images/cellular_status.png" alt="Cellular status of NookPhone icon">
                    <img src="/images/location_status.png" alt="Location status of NookPhone icon">
                    <!-- Current time -->
                    <p id="screenTime"></p>
                    <p>Capelle Town Bunnies</p>
                    <ul id="villagerInfo">
                        <% villagers.forEach(villager => { %>
                            <li>
                                <img src="<%= villager.image_url %>">
                                <p><%= villager.name %></p>
                                <p><%= villager.personality %> <%= villager.gender %></p>
                                <p><%= villager.birthday_month %> <%= villager.birthday_day %></p>
                                <p><%= villager.sign %></p>
                                <p><%= villager.quote %></p>
                            </li>
                        <% }); %>
                    </ul>
                    <button aria-label="Close dialog">
                        <img src="/images/phone-close.png" alt="Pixelated close icon">
                    </button>
                </div>
        </div>
        </section>
    </main>
 <script defer="" src="./scripts/script.js"></script>
</body>
</html>