<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs'); %>
</head>

<body>
    <main>
        <h1>lainecedes' Awesome Profile</h1>
        
        <section> <!-- lijst met favo game icons -->
            <button>
                <img src="/images/avatarpicture.png" alt="picture of avatar">
            </button>

            <ul>
                <li>
                    <img src="/images/mariokarticon.png" alt="Mario Kart icon">
                    <a href="#"></a>
                </li>
                <li>
                    <img src="/images/mariokarticon.png" alt="Mario Kart icon">
                    <a href="#"></a>
                </li>
                <li>
                    <img src="/images/mariokarticon.png" alt="Mario Kart icon">
                    <a href="#"></a>
                </li>
                <li>
                    <img src="/images/mariokarticon.png" alt="Mario Kart icon">
                    <a href="#"></a>
                </li>
                
            </ul>
        </section>

        <section id="user"> <!-- algemene info w/ JSON data-->
            <p id="userName"></p>
            <p id="userAge"></p>
            <p id="userUsername"></p>
        </section>

        <section> <!-- bio letter w/ JSON data -->
            <button>Sluiten</button> 
            <p id="userBio"></p>
        </section>

        <section>
            <!-- NookPhone -->
            <div id="NookPhone">
                <!-- interface phone -->
                <div id="container">
                    <img src="/images/cellular_status.png" alt="Cellular status of NookPhone">
                    <img src="/images/location_status.png" alt="Cellular status of NookPhone">
                    <!-- Current time -->
                    <p id="screenTime"></p>
                    <p>Capelle Town Bunnies</p>
                    <ul id="villagerInfo">
                        <% villagers.forEach(villager => { %>
                            <li>
                                <img src="<%= villager.image_url %>">
                                <p><%= villager.name %></p>
                                <p><%= villager.personality %> <%= villager.gender %></p>
                                <p><%= villager.birthday_month %> <%= villager.birthday_day %></p>
                                <p><%= villager.sign %></p>
                                <p><%= villager.quote %></p>
                            </li>
                        <% }); %>
                        </ul>
                </div>
        </div>
        </section>
    </main>
 <script defer="" src="./scripts/script.js"></script>
</body>
</html>